
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/.idea/
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

./public/media/*
/public/media/students/63de75b8ee7f2_0e0f9ee6-a730-4990-ab0d-5466f690bab8_accounts.xlsx
/public/media/supervisors/*
/public/media/students/*
/migr_bkp/*
/public/documents/students/*
/public/documents/supervisors/*

docker-compose.override.yml
/public/documents/
