{% extends '/email/email-body.html.twig' %}

{% block content %}
    <div class="container">
        <h3>New assignment available</h3>
        <hr/>
        <p>Your supervisor has added a new assignment. Check out your project's assignment page!</p>
        <br/>
        <table>
            <tr>
                <th>Title</th>
                <th>Due date</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.dueDate }}</td>
                <td>{{ assignment.description }}</td>
            </tr>
        </table>
        <br/>

        <p>The Steacop Team</p>
    </div>
{% endblock %}